<div class="container pt-5 mb-5">
  <div class="row">
    <h1>Edit Consultation</h1>
    <h2>for <%= @consultation.patient.first_name %> <%= @consultation.patient.last_name %></h2>
  </div>
  <%= render "shared/consultation_form", patient: @consultation.patient,
                                          consultation: @consultation,
                                          action: 'create',
                                          path: patient_path(@consultation.patient) %>
</div>
