<div class="container pt-5 mb-5">
  <div class="row">
    <h1>New Constultation</h1>
    <h2>for <%= @patient.first_name %> <%= @patient.last_name %></h2>
  </div>
  <%= render "shared/consultation_form", patient: @patient,
                                          consultation: @consultation,
                                          action: 'create',
                                          path: patient_path(@patient) %>
</div>
