<div class="container pt-5">
  <div class="row mt-3">
    <h1>Edit Section</h1>
  </div>
  <%# TODO: implement edit section %>
  <%# <%= render "shared/patient_form", patient: @patient, action: 'update', path: 'patient_path' %>
</div>
