<div class="container pt-5 bg-light position-relative">
  <div class="row bg-light">
    <div class="col-6 mt-5 mx-auto position-absolute translate-middle start-50">
      <%= form_with url: patients_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a patient"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="row bg-light home-image mx-auto">
    <%= image_tag "logo-infinito.png" %>
  </div>
</div>
