.navbar-lewagon {
  justify-content: space-between;
  background: #6797DC;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.titular {
  margin: 0;
  opacity: 0.8;
}
